* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Helvetica;
	margin: 0;
}

h1 {
	font-size: 2.5em;
	margin: 0;
}

/* a {
	text-decoration: none;
} */

h2 {
	font-size: 40px;
	text-align: center;
}

h3 {
	margin: 25px 0 0 0;
}

  ::-webkit-scrollbar-track {
    border-radius: 0.125rem;
    background-color: lightgray;
  }
  ::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.125rem;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background-color: gray;};

.btn {
	padding: 10px 25px;
	background: #4286f4;
	color: white;
	display: inline-block;
	border-radius: 2px;
	transition-duration: 0.2s;
}

.btn:hover {
	background: #2b6ed9;
}

.hero {
	height: 50vh;
	width: 100%;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	color: white;
}


.svchat {
	color: #32ff5b;
}

.info {
	font-size: 1.3em;
}

.info span {
	color: #2f8e42;
	font-weight: bold;
}

.ip {
	cursor: pointer;
}

/* Description */

#description i {
	color: #222;
}

#description {
	display: flex;
	justify-content: space-evenly;
	margin: 65px 0;
	flex-wrap: wrap;
}

#description p {
	margin: 5px 0 0 0; 
}

#description div {
	padding: 20px 50px;
	width: 80%;
	text-align: center;
}

#description div i {
	transition-duration: 0.6s;
}

#description div i:hover {
	transform: scale(1.09);
}

#description div {  /*span */
	font-size: 1.05em;
	letter-spacing: 1.2px;
}

.ourserv {
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);

}

.ourserv-1 {	
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
	

}
.ourserv-1txt {
	width: 75%;
}
.ourserv-2 {	
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.ourserv-2txt {
	width: 75%;
}


/* description basis */

#games {
	color: white;
	background: #2f8e42;
}

.gimg {
	width: 100%;
	align-self: center;
	border: 2px solid #111;
	border-radius: 2px;
	box-shadow: 0 0 2px #111;
}

.game {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 40px 50px;
}

#games h2,
.game h3 {
	letter-spacing: 1.2px;
}

#games h2 {
	margin: 0;
	text-align: center;
	padding: 20px;
}

.why-h2 {
	background-color: #1e5a2ad5;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.game h3 {
	font-size: 20px;
}

.game div {
	margin: 0 30px;
	font-size: 19px;
	line-height: 1.4em;
}

hr {
	background: white;
	height: 1px;
	width: 70%;
}

/* Staff */
.staff-team {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 20px auto 10px auto;
	width: 95%;
}

.staff {
	padding: 20px 0;
	background-color: #5f3f1f;
}

.skinbox {
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
		-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
		box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
}

.staff h2 {
	margin-top: 0;
}

.staff-team>div {
	padding: 10px;
	margin: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	transition: all ease 0.3s;
	width: 100px;
	font-size: 10px;
	z-index: 5;
}

.staff-team>div:hover {
	transform: scale(1.02);
}

.staff-team h3 {
	margin-bottom: 8px;
	font-weight: 600;
}

.staff-team img {
	width: 50px;
	margin-top: 20px;
}

.ma {
	width: 78%;
	background: #f44141;
}

.mb {
	width: 96%;
	background: #33af33;
}

.mc {
	width: 98%;
	background: #4286f4;
}

.admin,
.developer,
.moderator {
	padding: 12px;
	/* background-color: rgb(30 79 211 / 50%); */
}

.admin {
	background-color: rgba(244, 65, 65, .5);
}

.developer {
	background-color: rgba(170, 97, 30, 0.5);
}

.moderator {
	background-color: rgb(30 79 211 / 50%);
}

/* Footer */

footer {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: #23272b;
	padding: 30px 50px;
}

footer img {
	width: 170px;
}

footer a {
	color: cyan;
	text-decoration: underline;
}
	/*END NAV*/


	#contact p {
		font-size: 1.5em;
	}

	.hero {
		padding-top: 100px;
		height: 100vh;
	}

	.gimg {
		width: 35%;
	}

	.game {
		flex-wrap: nowrap;
	}

	.f,
	.h,
	.j,
	.l {
		flex-direction: row-reverse;
	}

	.game h3 {
		font-size: 30px;
	}

	.game div {
		line-height: 1.5;
		font-size: 1.15em;
	}

	.game.f {
		background-color: #1e5a2ad5;
		-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
		box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
	}

	#description {
		flex-wrap: nowrap;
	}

	#description div {
		width: 28%;
	}

	h2 {
		font-size: 55px;
	}

	.h {
		padding: 0 6px;
		margin-right: 5px;
		width: 137px;
		font-size: 1.2em;
		background: none;
		height: 100px;
	}

	h1 {
		font-size: 4.5em;
	}

	.staff-team img {
		width: 170px;
	}

	.staff-team>div {
		padding: 13px;
		width: auto;
		font-size: 18px;
	}

	.staff {
		padding: 40px 0;
		-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
		-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
		box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
	}

	.an-t {
		font-size: 1.15em;
	}

	footer {
		justify-content: space-between;
	}




/* end  */
@font-face {
    font-family: 'Nekst';
    src: local('Nekst SemiBold'), local('Nekst-SemiBold'),
        url('Nekst-SemiBold.woff2') format('woff2'),
        url('Nekst-SemiBold.woff') format('woff'),
        url('Nekst-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  } 

  .ul__nav {

	display: flex;	
	justify-content: center;	
	align-items: center;	
	gap: 20px;	
	text-transform: uppercase; 
	letter-spacing: 1px;
	font-weight: 700px;
	list-style: none;
	
	}
	
	.ul__nav *{
	
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;	
	-webkit-transition: all 0.35s ease;
	transition: all 0.3s ease;
	
	}
	
	.ul__nav a {
	
	position: relative; 
	text-decoration: none;
	color: rgba(255, 255, 255, 0.678);
	padding: 0.5rem 0.8rem;
	
	}
	
	.ul__nav a:before, .ul__nav a:after {	
	position: absolute;	
	height: 7px; 
	width: 7px;
	content: '';
	-webkit-transition: all 0.35s ease;	
	transition: all 0.35s ease;	
	opacity: 0;
	}
	.ul__nav a:before {

		right: 0; top: 0;	
		border-right: 3px solid #2f8e42d5;
		border-top: 3px solid #2f8e42d5;
	    -webkit-transform: translate(-100%, 50%);
		transform: translate(-100%, 50%);
		}
		
		.ul__nav a:after {	
		left: 0; bottom: 0;	
		border-left: 3px solid #2f8e42d5; 
		border-bottom: 3px solid #2f8e42d5;
		-webkit-transform: translate(100%, -50%);	
		transform: translate(100%, -50%);
		}

		.ul__nav a:hover,	
		.ul__nav .home a { 
			color: #ffffff;
		
		}
		.ul__nav a:hover:before,	
		.ul__nav .home a:before, .ul__nav a:hover:after,	
		.ul__nav .home a:after {	
		-webkit-transform: translate(0%, 0%);	
		transform: translate(0%, 0%);	
		opacity: 1;		
		}


#activator {
	background-color: #191919;
}

/* Stripe do not eat as it is called */
.top-bar {
	position: relative;
	z-index: 1000;
	transition: all 0.4s ease-in-out;
  }
  
  .top-bar.fixed {
	background-color: #3e2914f0;
	padding: 55px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 35px;
	transform: translateY(-100%);
	opacity: 0;
  }
  
  .top-bar.animated {
	transform: translateY(0);
	opacity: 1;
  }


/* Top AVA Serva */
/* .logo {
	width: 200px;
	height: 200px;
	background-image: url('../img/logo2.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
} */

.logo2 {
	width: 300px;
	height: 300px; 
	background-image: url('../img/logo2.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -350px;
}
/* .info, .line-1, .anim-typewriter, .scroll {
	opacity: 0;
} */
.logo2, .info, .line-1, .anim-typewriter, .scroll {
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
		filter: blur(4px);
        opacity: 0;
    }
    100% {
		filter: blur(0);
        opacity: 1;
     }
}


.buttonip {
	background-color: transparent;
	color: rgb(6, 194, 252);
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 30px;
	transition: background-color 0.3s ease-in-out;
	left: 66%;
	top: 10px;
	position: absolute;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/* Buttons zhmyak zhmyak */
.buttons-container {
	display: flex;
	align-items: center;
	margin-right: auto;
	justify-content: flex-end;
}

.buttonip:hover {
	background-color: rgba(253, 9, 9, 0);
	color: rgb(6, 194, 252);
}

.button {
	background-color: transparent;
	color: rgb(6, 194, 252);
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease-in-out;
}

.button:hover {
	background-color: rgba(253, 9, 9, 0);
	color: rgb(6, 194, 252);
}

.button2 {
	background-color: transparent;
	color: rgb(255, 255, 255);
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease-in-out;
}

.button2:hover {
	background-color: rgba(253, 9, 9, 0);
	color: rgb(6, 194, 252);
}

/* BUTTONS FOR TOP DS SERVAKA */

.discord-button {
	background-image: url('../img/discord_logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	width: 55px;
	height: 55px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	margin-right: 15px;
}

.discord-button:hover {
	background-color: rgb(24, 126, 243);
	color: rgb(122, 211, 238);
}

.youtube-button {
	background-image: url('../img/youtube_logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	width: 55px;
	height: 55px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	margin-right: 30px;
}


.youtube-button:hover {
	background-color: rgb(255, 0, 0);
	color: rgb(255, 0, 0);
}

.right-buttons {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	height: 100%;
}

.left-buttons {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	height: 100%;
}
#img2 {
	width: 100%;
	display: flex;
	background-image: url('logo.png');
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mysticfooter {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #23272b;
    padding: 15px 25px;
    flex-direction: column-reverse;
    align-content: center;
}

.logo-socials {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* align-content: center; */
    flex-direction: row;
    flex-wrap: nowrap;
}
.socials {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 100px;
	width: 200px;
}

.socials a {
	position: relative;
	display: flex;
	width: fit-content;
	height: fit-content;
}

.yt {
	height: 50px;
	width: 50px;
}

.ds {
	height: 32.5px;
	width: 45px;
}

.twtr {
	height: 32.5px;
	width: 45px;
}

@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: 400;
    src: local('Minecraft'), url('https://fonts.cdnfonts.com/s/36662/MinecraftTen-VGORe.woff') format('woff');
  }
  .skinbox > h3 {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: 400;
  }

@media screen and (min-width: 144px) and (max-width: 775px) {
	h2 {
		font-size: 20px;
	}
	#description p {
		font-size: 10px
	}
	#description h3 {
		font-size: 10px
	}

	.ourserv-1 {
		display: flex;
		/* align-content: center; */
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
    	margin-bottom: 10px;
	}
	.ourserv-1txt {
		text-align: center;
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
	}

	.ourserv-2 {
		display: flex;
		/* align-content: center; */
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.ourserv-2txt {
		text-align: center;
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
	}

	.info {
		font-size: 0.8em;
	}

	.game {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 40px 0px;
	}



	.game.e , .game.g , .game.f{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 65%;
	}

	/* .game.f {
		background-color: #1e5a2ad5;
		-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
		box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
	} */

	.gimg.a , .gimg.b , .gimg.c {
		width: 100%;
	}

	.staff-team img {
		width: 150px;
	}

	/* .logo2 {
		width: 250px;
		height: 250px;
		margin-bottom: 250px;
	} */
 
	/* .staff {
		-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.6);
		-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.6);
		box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.6);
	} */

	.footer_MS_logo {
		width: 30%;
		height: 30%;
	}
	.mysticfooter p {
		font-size: smaller;
	}
}